:root {
	--purpleColorLighter: #A42DE8;
	--blueColorLighter: #318AFF;
	--blueColorDarker: #2D3DE8;
	--bgColor: #ffffff;
	--fgColor: #800080;
	--fgColorLighter: rgba(128, 0, 128, 0.5);
	--headerTextColor: #ffffff;
}

@media (prefers-color-scheme: dark) {
	:root {
		--bgColor: #422142;
		--fgColor: #f0c4f0;
		--fgColorLighter: rgba(210, 169, 210, 0.5);
		--headerTextColor: var(--fgColor);
	}
}


html{
	height:100%;

}

/* Body */
body {
	margin: 0;
	font-family: "Ubuntu";
	color: var(--fgColor);
	background-color: var(--bgColor);


}

#root{
	height:100%
}
.page-header,
main {
	padding-left: 2vw;
	padding-right: 2vw;
}

button {
	padding: 0.5em 1em;
	margin: 0em 0.5em;
	border-style: solid;
	border-width: 2px;
	font-weight: bold;
	border-color: var(--headerTextColor);
	cursor: pointer;
}

/* Header */
.page-header {
	background-image: linear-gradient(var(--purpleColorLighter), var(--blueColorDarker));
	color: var(--headerTextColor);
	display: flex;
	justify-content: space-between;
	height: 4em;
	align-items: center;
}

.page-header a {
	font-family: "Dynapuff";
	color: var(--headerTextColor);
}

.page-header a:link {
	text-decoration: none;
}

.page-header a:visited {
	text-decoration: none;
}

.page-header a:hover {
	text-decoration: none;
}

.page-header a:active {
	text-decoration: none;
}

.main-menu {
	font-size: 0.7em;
	font-weight: normal;

}

svg {
	height: 1em;
}

/* Main Page*/
main {
	font-family: "Dynapuff";
	padding-top: 2em;
	height:100%;

}

h2,
h3,
p {
	margin: 0;
}

h3 {
	font-size: 1.5em;
}


.page-content {
	padding-top: 1em;
	padding-bottom: 1em;
}

main ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

main li {
	border-width: 2px;
	border-style: solid;
	border-bottom-width: 4px;
	padding-left: 2em;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-right: 2em;
	margin-left: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.content-button {

	color: var(--headerTextColor);
	background-color: var(--bgColor);

}

.content-button:hover {
	background-color: var(--purpleColorLighter);
	border-color: var(--purpleColorLighter);
}

.content-button2 {
	color: var(--bgColor);
	background-color: var(--headerTextColor);
}

.content-button2:hover {
	background-color: var(--purpleColorLighter);
	border-color: var(--purpleColorLighter);
	color: var(--headerTextColor);
}

time {
	font-size: 0.8em;
	color: var(--fgColorLighter)
}

.create-sample {
	border-color: var(--fgColorLighter);
	border-width: 2px;
	border-style: solid;
	border-bottom-width: 4px;
	padding-left: 2em;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-right: 2em;
	margin-bottom: 5em;
	text-align: center;
}


/* Edit Page */
.edit-title form {
	border-color: var(--fgColor);
	border-width: 2px;
	border-style: solid;
	border-bottom-width: 4px;
	padding-left: 2em;
	padding-top: 1em;
	padding-bottom: 1em;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex: 1;
	padding-right: 2em
}
	
.sample-edit-button {
	padding-left:2em;
	display: flex;
}

#sampleTitle {
	width: 98%;
	background-color: var(--fgColorLighter);
	border: none;
	border-radius: 5px;
	height: 1em;
	color: var(--fgColor);
	padding: 0.5em;
	font-size: 1.5em;
	font-family: "Dynapuff";
}

#instrumentType {
	display:flex;
	margin-top: 2em;
	align-items: center;
	font-family: "Ubuntu";
}

.music-button{
	color: var(--headerTextColor);
	background-color: var(--bgColor);
}

.active{
	color: var(--bgColor);
	background-color: var(--headerTextColor);
}

.music-button:hover{
	background-color: var(--fgColorLighter)
}

table {
	border-collapse: collapse;
	margin-left: 1em;
	width:100%;
	height: 2em;
}

th {
	
	border-color: var(--fgColor);
	border-width: 2px;
	border-style: solid;
	border-bottom-width: 4px;
}

#noteContent {
	font-family: "Ubuntu";
}

.sequencer {
	border-color: var(--fgColor);
	border-width: 2px;
	border-style: solid;
	border-bottom-width: 4px;
}

.sequencer > .bar {
	border: 1px solid black;
	width: 100%;
	padding: 0.75em 0.25em;
	text-align: center;
	cursor: pointer;
}

.sequencer > .bar:hover {
	background: #aaa;
}

.sequencer > .bar.selected {
	background: #666;
	color: white;
	font-weight: bold;
}


/* Share */
#shareTitle {

	border-color: var(--fgColor);
	border-width: 2px;
	border-style: solid;
	border-bottom-width: 4px;
	margin-top: 1em;
	margin-bottom: 1em;
	padding-left: 2em;
	padding-right: 2em;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* Footer */
.page-footer {
	
	background-color: var(--purpleColorLighter);
	height: 7px;
}